# Exclude exported CurseForge zip files
/*.zip

# Exclude resourcepack zips
resourcepacks/*.zip

# Exclude shaderpack zips
shaderpacks/*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Binary files
*.exe

# Jar files
*.jar