# Exclude exported CurseForge zip files
/*.zip

# Exclude resourcepack zips
resourcepacks/*.zip

# Exclude shaderpack zips
shaderpacks/*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Packwiz binary
packwiz.*

# Jar files
*.jar