# Exclude exported CurseForge zip files
/*.zip

# Exclude resourcepack zips
resourcepacks/*.zip

# Exclude shaderpack zips
shaderpacks/*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Packwiz binary / Packwiz JSON validation file
packwiz.*

# Jar files
*.jar

# Test server directory
server/

# Carpet TIS Addition Yarn Mappings
config/carpettisaddition/mapping/*.tiny